<% include header %>
  <% if(username) { %>
      <h1 class="welcome-message">Welcome: <%= username %></h1>
  <% } else { %>
      <h1 class="welcome-message">Welcome to Node Chat</h1>
  <% } %>
  
  <br>
  <div class="col-md-7">
  
  <% if(alert.length !== 0) { %>
    <div class="alert alert-success" role="alert"><%= alert %></div>
  <% } %>
  <ul class="messages">
    <% messages.forEach(function(message){ %>
	     <li class="panel text-<%= message.color %>">  	
        <%= message.username %>:<br>
        <%= message.text %>
	     </li>
     <% }) %>
  </ul>
</div>
<div class="col-md-5">
    <div class="panel">
  


    <form role="form" class="message-form" action="/" method="post">
    <h3>New message</h3>
      <div class="form-group">
         <textarea class="form-control" id="message-content" rows="2" name="message"></textarea>
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>

  <div class="panel">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Users online</th>
        </tr>
      </thead>
      <tbody>
        <% users_online.forEach(function(user,index){ %>
        <tr class=<%= user_colors[index%6] %>>
          <td><%= user.username %></td>
          <td><%= user.color %></td>
        </tr>
        <% }); %>
      </tbody>    
    </table>
  </div>  
</div>


<% include footer %>